*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.bodycontainer {
    font-family: "Helvetica Neue";
    font-weight: lighter;
    background-color: #fffacd;
    border: solid 0.2px;
    margin: 10px;
}

/* BANNER FORMATTING*/
/*banner formatting*/
.banner {
    width: 90%;
    display: block;
    justify-content: center;
    text-align: center;
}

.banner_container {
    padding: 10px;
    align-content: center;
    justify-content: center;
    display: flex;
    margin: 20px;
    background-color: white;
    opacity: 75%;
    border: solid black 0.5px;
}

.headercontainer {
    align-content: center;
}

.opening_container {
    align-content: center;
    justify-content: center;
    display: flex;
    padding: 10px;
}

.avocado_container {
    align-content: center;
    align-content: center;
    justify-content: center;
    display: flex;
}

.DIY_container {
    padding-left: 22px;
    padding-right: 22px;
}

h2 {
    font-family: "Helvetica Neue";
    font-weight: bolder;
    font-size: 15px;

}

h4 {
    font-family: "Helvetica Neue";
    font-weight: 200;
    font-style: italic;
    font-size: 15px;
    padding-bottom: 3px;
}

p {
    font-family: "Helvetica Neue";
    font-weight: lighter;
    font-style: italic;
    font-size: 12px;
    padding-bottom: 3px;
}

p1 {
    font-family: "Helvetica Neue";
    font-weight: lighter;
    font-style: italic;
    font-size: 5px;
}

.credit {
    font-family: "Helvetica Neue";
    font-weight: lighter;
    font-style: italic;
    font-size: 5px;

}

.left_box {
    width: 70%;
    border: dotted black 0.2px;
    margin-right: 20px;
    padding-left: 2px;
    background-color: oldlace;
    text-align: center;
}

.right_box {
    width: 30%;
    opacity: 90%;
    padding: 15px;
}

.pic {
    width: auto;
    height: 200px;
}

.newsletter {
    padding: 8px
}

.some_container {
    padding-top: 10px;
}

.some {
    color: grey;
    margin: 10px;
    text-decoration: none;
}

.join {
    text-align: center;
    color: grey;
}

.social_icons {
    justify-content: center;
    display: flex;
    color: grey;
    margin: 10px;
    text-decoration: none;
}

@media only screen and (min-width:680px) {
    .pic {
        height: auto;
    }

    .opening_container {
        height: auto;
    }

    .left_box {
        line-height: 200%;
    }
}
