*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    border: 0;
}


.bodycontainer {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    background-color: #FFDDDD;
    border: solid 0.2px;
    margin: 10px;
}


/*banner formatting*/
.banner {
    width: 90%;
    display: block;
    justify-content: center;
    text-align: center;
}

.banner_container {
    padding: 10px;
    align-content: center;
    justify-content: center;
    display: flex;
    margin: 20px;
    background-color: white;
    opacity: 75%;
    border: solid black 0.5px;
}

.subtext {
    margin-left: 25px;
    font-weight: lighter;
}


/* menubox formatting*/
.menu_heading {
    font-family: "Helvetica Neue";
    font-weight: 200;
    font-size: 20px;
}

h1 {
    font-family: "Helvetica Neue";
    font-weight: 200;
    font-size: 20px;

}

p {
    font-family: "Helvetica Neue";
    font-weight: lighter;
    font-size: 8px;
    justify-content: center;
}

.menubox {
    height: 90px;
    background-color: white;
    opacity: 80%;
    align-content: space-around;
    justify-content: center;
    display: flex;
    margin: 20px;
    border: solid black 0.5px;

}


.menupics {
    margin-right: 50px;
    height: 82px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.menubox_container {}


/*end of menubox formatting*/

/* subscriptioncontainer formatting*/

.subscriptioncontainer {
    height: 20px;
    width: 100%;
    opacity: 80%;
    justify-content: center;
    display: flex;
    margin-top: 30px;

}

.newsletter {
    border: 0.2px solid gray;
    height: 80px;
    width: auto;
    text-align: center;
    background-color: gainsboro;
    opacity: 80%;
    margin-bottom: 30px;
}

.headline {
    font-family: "Helvetica Neue";
    font-weight: lighter;
    font-size: 15px;
}

.label {
    font-family: "Helvetica Neue";
    font-weight: 300;
    font-size: 8px;
}

.form_element {
    border: 0.2px solid gray;
    font-family: "Helvetica Neue";
    font-weight: bolder;
    font-size: 8px;
}

/* end of subscriptioncontainer formatting*/


.bottom_container {
    height: 90px;
    opacity: 80%;
    align-content: space-around;
    justify-content: center;
    display: flex;
    margin: 20px;
    padding-bottom: 20px
}


/*some container formatting*/

.newsletter {
    padding: 8px border: solid black 0.2px;
}

.some {
    color: grey;
    margin: 10px;
    text-decoration: none;
}

.join {
    text-align: center;
    color: grey;
}

.social_icons {
    justify-content: center;
    display: flex;
    color: grey;
    margin: 10px;
    text-decoration: none;
}

.icons {
    color: grey;
    margin: 10px;
    text-decoration: none;
}

@media only screen and (min-width:680px) {
    .menubox {
        width: 50%;
        align-content: center;
    }

    .menubox_container {
        justify-content: center;
        display: flex;
    }


}
