*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.bodycontainer {
    font-family: "Helvetica Neue";
    font-weight: lighter;
    background-color: #E6FFE6;
    border: solid 0.2px;

}

.banner {
    align-content: center;
}

.banner_container {
    padding: 10px;
    align-content: center;
    justify-content: center;
    display: flex;
    margin: 20px;
    background-color: white;
    border: solid black 0.5px;
}

.headercontainer {
    align-content: center;
}

.bigsquare_container {
    padding: 10px;
    align-content: center;
    justify-content: center;
    display: flex;
    margin: 0 20px 0 20px;
    background-color: white;
    opacity: 75%;
    border: solid black 0.5px;
}

.left_container {
    width: 60% border-right: solid 1px;
}

. right_container {
    width: 40%
}

.bodytype {
    height: 150px;
    width: auto;
}

p7 {
    font-family: cursive;
    font-size: 8px;
}
