*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.bodycontainer {
    font-family: "Helvetica Neue";
    font-weight: lighter;
    background-color: #E6FFE6;
    border: solid 0.2px;
    align-items: center;

}

/*BANNER FORMATTING*/

.banner {
    align-content: center;
}

.banner_container {
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 20px;
    background-color: white;
    border: solid black 0.5px;
}

.headercontainer {
    align-content: center;
}

/* article containers*/

.allarticle_container {
    align-items: center;
}

.bigsquare_container {
    width: 90%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: white;
    border: solid black 0.5px;
    text-align: justify;

}

.left_container {
    width: 60%;
    border-right: solid 1px;
}

. right_container {
    width: 40%;
    border: solid 1px;
}

.body_types {
    width: 110px;
}

.bodytypes {
    height: 20%;
    width: auto;
}


.subtext {
    margin-left: 25px;
    font-size: 8px;
    font-family: "Helvetica Neue";
    font-weight: lighter;
}
